.detail {
    ul {
        line-height: 2em;
        font-size: 22px;
        color: #756b82;
        font-weight: 500;
        li {

        }
    }
    .article {
        min-height: 50vh;
        h1, h2, h3, h4, h5 {
            font-family: 'Maven Pro';
            margin-bottom: 0.25em;
            color: $dark-purple;
        }
        h1 {
            font-size: 56px;
        }
        h2 {
            font-size: 48px;
        }
        h3 {
            font-size: 36px;
        }
        h4 {
            font-size: 24px;
        }
        img {
            margin: 48px auto;
            display: block;
            max-width: 100%;
        }
        table {
            margin: 48px auto;
            th,td {
                padding: 5px;
                border: #c4c4c4 1px solid;
            }
        }
    }

}
