.course {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    i {
        color: $beige;
        font-size: 64px;
        margin-bottom: 24px;
    }

    button {
        margin-top: 12px;
    }

    .price {
        margin: 24px 0;
    }
    p {
        margin-bottom: 0;
    }
    @media (max-width: 992px) {
        .price {
            margin: 12px 0;
        }
        margin-bottom: 48px;
    }
}

//test23

.courses {
    position: relative;
    .row {
        margin-top: 64px;
    }

    #cloud-1 {

    }

    .line {
        width: 100%;
        position: absolute;
        top: -150px;
        left: 0;
        &.line-2 {
            left: 0;
            transform: rotate(180deg) translateY(-100%);
            bottom: -100px;
            top: unset;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
}
