.coop {
    .coop-person {
        display: flex;
        margin-bottom: 120px;
        justify-content: flex-start;
        .img {
            width: 450px;
            margin-right: 60px;
            img {
                width: 450px;
            }
        }
        p {
            margin-top: -10px;
        }
        &:nth-child(2n) {
            flex-direction: row-reverse;
            .img {
                margin-left: 60px;
                margin-right: 0;
            }
        }
        h4 {
            margin-bottom: 0;
        }
        span {
            display: inline-block;
            margin: 15px 0;
        }
    }
}
